<%- include("./partials/header.ejs", {user: user} ) %>

<%console.log(bags) %>

<div class="backgrounds">
    <%for (const post of bags ) { %>
        
        <div class="tile">
            <h1><%=post.title%></h1>
            <p><%=post.userId%></p>
            <p><%=post.location%></p>   
            <p><%=post.weight%></p>
            <p><%=post.length%></p>
            <img src="<%=post.img%>"/>
            <p>Description: <%=post.description%></p>
        </div>
    <% } %>

</div>

<%- include("./partials/footer.ejs") %>