
<%- include("../partials/header.ejs", {user: user} ) %>


<div class="searchBar">
    <h1>Welcome to your profile</h1>
    <a href="/users/bucketlists" class="bucketButton">See your bucketlist</a>
</div>

<div class="profile">
    <div class="profileBox">
        <h2><%=user.user_name%></h2>
        <img src="<%=user.user_img%>" />
        <p><%=user.description%></p>
        <a href="/users/edit/<%=user.user_name%>" class="wiki">Edit Profile</a>
        <a href="/users/logout" class="logoutButton">Logout</a>
    </div>
</div>


<%- include("../partials/footer.ejs") %>


