<%- include('../partials/header.ejs' , {user:user} ) %>

<div class="searchBar">
    <h1>Here's all of <%=bags[0].user.user_name%> catches</h1>
</div>

<div class="backgrounds">
    <%for (const post of bags ) { %> 
        <div class="tile">
            <div class="tileHeader">
                <h3><%=post.title%></h3>
            </div>
                <div class="link">
                    <form action="/catches/fish/<%=post.fish.name%>" method="post">
                        <input type="hidden" name="id" value="<%= post.fishId %>">
                        <button type="submit">All <%=post.fish.name%> catches</button>
                    </form>
                    <form method="POST" action="/users/bucketlists">
                        <input hidden name="fishId" value="<%=post.fishId%>">
                        <input hidden name="name" value="<%=post.fish.name%>">
                        <input hidden name="img" value="<%=post.fish.img%>">
                        <input hidden name="wiki" value="<%=post.fish.wiki%>">
                        <button type="submit">Add to your bucket list</button>
                      </form>   
                </div>
                <div class="tileImg">
                    <img src="<%=post.img%>"/>
                </div>
                <div class="tileInfo">
                    <p id="catchInfo"><span>Catch Info:</span> </p>
                    <p><span>Area:</span>  <%=post.location%></p>   
                    <p><span>Catch Weight:</span>  <%=post.weight%> pounds</p>
                    <p><span>Catch Length:</span>  <%=post.length%> inches</p>
                </div>
            
                <div class="tileFooter">
                <p class="tag">Story</p>
                <p><%=post.description%></p>
            </div>
        </div>
    <% } %>

</div>

<%- include('../partials/footer.ejs') %>