<%- include("../partials/header.ejs", {user:user}) %>

<h1> you made it to your catches </h1>
<p>Add a new catch by searching for the fish</p>
<div class="searchBar">
    <h1>Welcom to the fish Index</h1>
    <form method="GET" action="/fish/search">
        <input id="search" name="fishSearch" type="text" placeholder="Search for a fish">
        <button type="submit">Search</button>
    </form>
</div>

<div class="backgrounds">
    <%for (const post of bags ) { %>
      <% if(post.userId === user.id) { %>
        <div class="tile">
            <h1><%=post.title%></h1>
            <p><%=post.userId%></p>
            <p><%=post.location%></p>   
            <p><%=post.weight%></p>
            <p><%=post.length%></p>
            <img src="<%=post.img%>"/>
            <p>Description: <%=post.description%></p>
            <a href="/catches/edit/<%=post.id%>">Edit Post</a>
            <form method="POST" action="/catches/remove/<%=post.id%>/?_method=DELETE">
                <button type="submit">Delete Post</button>
            </form>
        </div>
        <%} %>
    <% } %>

</div>

<%- include("../partials/footer.ejs") %>