<%- include('../partials/header.ejs' , {user:user} ) %>

<h1><%=fish[1].name%></h1>
<img src="<%=fish[1].img%>"/>
<p><a href="<%=fish[1].wiki%>" target="blank"><%=fish[1].name %> Wiki</a></p>



<%- include('../partials/footer.ejs') %>