<%- include('../partials/header.ejs' , {user:user} ) %>

<div class="searchBar">
    <h1>Welcome to the fish Index</h1>
    <form method="GET" action="/fish/search">
        <input id="search" name="fishSearch" type="text" placeholder="Search for a fish">
        <button type="submit">Search</button>
    </form>
</div>

<div class="backgrounds">

    <%for (const species of fish ) { %>
        
        <div class="tile">
            <div class="tileHeader">
                <h3><%=species.name%></h3>
            </div>
            
            <img src="<%=species.img%>"/>

            <div class="tileFooter">
                <p><a href="<%=species.wiki%>" target="blank" class="wiki"><%=species.name %> Wiki</a></p>
                <div>
                    <button><a href="/catches/add?speciesId=<%=species.id%>" class="addButton">Add Catch</a></button>
                    <form method="POST" action="/users/profile?speciesId=<%=species.id%>">
                        <input hidden id="name" type="text" name="name" value="<%=species.name%>">
                        <input hidden id="img" type="text" name="img" value="<%=species.img%>">
                        <input hidden id="wiki" type="text" name="wiki" value="<%=species.wiki%>">
                        
                    </form>
                </div>
            </div>
        </div>

    <% } %>

</div>
    <%- include('../partials/footer.ejs') %>

