<%- include('../partials/header.ejs' , {user:user} ) %>

<div class="searchBar">
    <h1>Welcome to the fish Index</h1>
    <form method="GET" action="/fish/search">
        <input id="search" name="fishSearch" type="text" placeholder="Search for a fish">
        <button type="submit">Search</button>
    </form>
</div>

<div class="backgrounds">
    <p class="noFish">There were no fish that matched the criteria</p>
    <%for (const species of fish ) { %>
        
        <div class="tile">
            <div class="tileHeader">
                <h3><%=species.name%></h3>
            </div>
            <div class="link">
                <button type="submit"><a href="/catches/add?speciesId=<%=species.id%>" >Add Catch</a></button>
                <form method="POST" action="/users/bucketlists">
                    <input hidden name="fishId" value="<%=species.id%>">
                    <input hidden name="name" value="<%=species.name%>">
                    <input hidden name="img" value="<%=species.img%>">
                    <input hidden name="wiki" value="<%=species.wiki%>">
                    <button type="submit">Add to your bucket list</button>
                  </form>
                <button><a href="<%=species.wiki%>" target="blank" ><%=species.name %> Wiki</a></button>
            </div>
            <img src="<%=species.img%>"/>
        </div>

    <% } %>
</div>
    <%- include('../partials/footer.ejs') %>