<%- include('../partials/header.ejs' , {user:user} ) %>

<form method="GET" action="/fish/search">
    <input id="search" name="fishSearch" type="text" placeholder="Search a fish name">
    <button type="submit">Search</button>
</form>

<div class="backgrounds">
    <%for (const species of fish ) { %>
        
        <div class="tile">
            <h1><%=species.name%></h1>
            <img src="<%=species.img%>"/>
            <p><a href="<%=species.wiki%>" target="blank"><%=species.name %> Wiki</a></p>
            <p><a href="/catches/add?speciesId=<%=species.id%>">Add Catch</a></p>
        </div>
    <% } %>

</div>
    <%- include('../partials/footer.ejs') %>