<%- include('../partials/header.ejs' , {user:user} ) %>

<div class="backgrounds">
    <%for (const species of fish ) { %>
        
        <div class="tile">
            <h1><%=species.name%></h1>
            <img src="<%=species.img%>"/>
            <p><a href="<%=species.wiki%>" target="blank"><%=species.name %> Wiki</a></p>
        </div>
    <% } %>

</div>
    <%- include('../partials/footer.ejs') %>